@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-dark.min.css");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: General Sans, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .heading3-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
  }
  .podcast-title {
    font-weight: 600;
    font-size: clamp(1rem, 0.8997rem + 3.3439vw, 6.25rem);
    text-transform: uppercase;
  }
  .text-blog-subheading {
    font-weight: 600;
    font-size: clamp(3rem, 2.7857rem + 1.0714vw, 4.5rem);
  }
  .text-blog-quote {
    font-weight: 600;
    font-size: clamp(2rem, 1.8571rem + 0.7143vw, 3rem);
  }
  .text-blog-summary {
    font-weight: 500;
    font-size: 1.375rem;
  }
  .text-subheading {
    font-weight: 600;
    /* font-size: clamp(3.25rem, 2.4853rem + 3.8235vw, 6.5rem); */
    font-size: clamp(2.25rem, 1.6429rem + 3.0357vw, 6.5rem);
    text-transform: uppercase;
    line-height: 1;
  }
  .text-subtitle {
    line-height: 1;
  }
  .text-footer-title {
    color: #ffffff;
  }
  .text-subtitle,
  .text-footer-title {
    font-size: clamp(2.625rem, 1.9917rem + 3.1667vw, 5rem);
    font-weight: 600;
    text-transform: uppercase;
  }
}

@font-face {
  font-family: "General Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/general-sans/GeneralSans-Regular.woff2"), format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/general-sans/GeneralSans-Medium.woff2"), format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/general-sans/GeneralSans-Semibold.woff2"), format("woff2");
  font-display: swap;
}

/* Text selection */
::selection {
  background: #892be280;
  color: white;
}

::-moz-selection {
  background: #8a2be280;
  color: white;
}

* {
  scrollbar-width: 4px;
  scrollbar-color: #8a2be2 #121212;
}


/* Markdown Styles */
.markdown-body {
  color: #fff !important;
}

/* Heading */
.markdown-body h1 {
  font-weight: 600;
  font-size: clamp(3rem, 2.7857rem + 1.0714vw, 4.5rem);
  scroll-margin-top: 7.5rem;
  margin-bottom: 0.5em !important;
  border-bottom: 1px solid #ffffff5b !important;
  padding-bottom: 0.1em !important;
}

.markdown-body h2 {
  font-size: clamp(2.2rem, 2.0857rem + 0.6714vw, 3.3rem);
  font-weight: 600;
  scroll-margin-top: 7.5rem;
  margin-bottom: 0.5em !important;
  border-bottom: 1px solid #ffffff5b !important;
  padding-bottom: 0.3em !important;
}

.markdown-body h3 {
  font-size: clamp(1.9rem, 1.8857rem + 0.4714vw, 2.8rem);
  font-weight: 600;
  scroll-margin-top: 7.5rem;
  margin-bottom: 0.5em !important;
}

.markdown-body h4 {
  scroll-margin-top: 7.5rem;
}

/* Images */
.markdown-body img {
  max-width: 100%;
  height: auto;
  margin: 1.5em 0;
}

/* Bold Text */
.markdown-body strong,
.markdown-body b {
  font-weight: 700;
}

/* Italic Text */
.markdown-body em,
.markdown-body i {
  font-style: italic;
}

/* Horizontal Rule */
.markdown-body hr {
  border: 0;
  height: 1px;
  background: #ffffff5b;
  margin: 1.5em 0;
}

/* Blockquote */
.markdown-body blockquote {
  padding: 0 1em !important;
  color: #eeeeee !important;
  border-left: 0.25em solid #30363d !important;
  margin-bottom: 1em !important;
}

/* Code Block */
.markdown-body pre {
  background-color: #161b22 !important;
  padding: 16px !important;
  border-radius: 6px !important;
  overflow: auto !important;
  margin-bottom: 1em !important;
}

.markdown-body pre code {
  background-color: transparent !important;
  padding: 0 !important;
}

/* Inline Code */
.markdown-body code {
  background-color: #161b22 !important;
  padding: 0.2em 0.4em !important;
  border-radius: 3px !important;
  font-family: monospace !important;
}

/* Ordered and Unordered Lists */
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em !important;
  font-weight: 300;
  font-size: 1.15rem;
  margin-bottom: 1em !important;
}

.markdown-body li {
  margin: 0.25em 0 !important;
  font-weight: 300;
  font-size: 1.15rem;
  list-style-type: disc !important;
}

.markdown-body ol li {
  font-weight: 300;
  font-size: 1.15rem;
  list-style-type: decimal !important;
}

/* Paragraph */
.markdown-body p {
  font-weight: 300;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

/* Links */
.markdown-body a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-bottom: #fff 1px solid;
  transition: all 0.3s;
}

.markdown-body a:hover {
  color: #8a2be2;
  text-decoration: none;
}

/* Checkbox (for task lists) */
.markdown-body input[type="checkbox"] {
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

/* Table */
.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #ffffff5b;
  padding: 0.5em;
  text-align: left;
}

.markdown-body th {
  font-weight: 600;
  background-color: #161b22;
}

/* Custom ID Headings */
.markdown-body h1[id],
.markdown-body h2[id],
.markdown-body h3[id] {
  position: relative;
}

.markdown-body h1[id]::after,
.markdown-body h2[id]::after,
.markdown-body h3[id]::after {
  content: "#" attr(id);
  font-size: 0.8em;
  color: #ffffff5b;
  margin-left: 0.5em;
  text-decoration: none;
}

/* Footnote */
.markdown-body .footnote {
  font-size: 0.9em;
  color: #bbb;
  margin-top: 1em;
}

/* Highlight */
.markdown-body mark {
  background-color: #892be280;
  color: #fff;
  padding: 0.2em;
}

/* Subscript */
.markdown-body sub {
  vertical-align: sub;
  font-size: smaller;
}

/* Superscript */
.markdown-body sup {
  vertical-align: super;
  font-size: smaller;
}

.markdown-body [id]::before {
  content: attr(id);
  display: none;
}

iframe {
  width: 100% !important;
  height: 35rem !important;
  border: none !important;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  iframe {
    height: 14rem !important;
  }
}
